Service References/ChakavakServiceWS/ChakavakService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.13.184/ChakavakService/ChakavakService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://192.168.13.184/ChakavakService/ChakavakService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CommonObject" />
  <xs:import schemaLocation="http://192.168.13.184/ChakavakService/ChakavakService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="PutResponseOutChequeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="param" nillable="true" type="q1:ChequeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResponseOutChequeResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonObject" minOccurs="0" name="PutResponseOutChequeResponseResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRequestOutChequeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="param" nillable="true" type="q3:ChequeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRequestOutChequeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonObject" minOccurs="0" name="PutRequestOutChequeRequestResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestInChequeRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestInChequeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRequestInChequeRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseInChequeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseInChequeResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResponseInChequeResponseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestInAcknowledge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chequeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestInAcknowledgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRequestInAcknowledgeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestInAcknowledgeNotProcessed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestInAcknowledgeNotProcessedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRequestInAcknowledgeNotProcessedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseInAcknowledgeNotProcessed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseInAcknowledgeNotProcessedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResponseInAcknowledgeNotProcessedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformationSchemaNotProcessed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformationSchemaNotProcessedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInformationSchemaNotProcessedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestInItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q5:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestInItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommonObject" minOccurs="0" name="UpdateRequestInItemsResult" nillable="true" type="q6:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestInItemsBySeqNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="seqNos" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestInItemsBySeqNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CommonObject" minOccurs="0" name="UpdateRequestInItemsBySeqNoResult" nillable="true" type="q8:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseInItemsBySeqNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="seqNos" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseInItemsBySeqNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CommonObject" minOccurs="0" name="UpdateResponseInItemsBySeqNoResult" nillable="true" type="q10:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestInAcknowledgeItemsByTRN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="trns" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestInAcknowledgeItemsByTRNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CommonObject" minOccurs="0" name="UpdateRequestInAcknowledgeItemsByTRNResult" nillable="true" type="q12:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseInAcknowledgeItemsByTRN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="trns" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseInAcknowledgeItemsByTRNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CommonObject" minOccurs="0" name="UpdateResponseInAcknowledgeItemsByTRNResult" nillable="true" type="q14:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>