Service References/ChakavakServiceWS/ChakavakService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.13.184/ChakavakService/ChakavakService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/com.cbi.chakavak.chequeSchema" />
  <xs:complexType name="ChequeResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/com.cbi.chakavak.chequeSchema" minOccurs="0" name="Header" nillable="true" type="q1:Header" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/com.cbi.chakavak.chequeSchema" minOccurs="0" name="Response" nillable="true" type="q2:Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChequeResponse" nillable="true" type="tns:ChequeResponse" />
  <xs:complexType name="ChequeRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/com.cbi.chakavak.chequeSchema" minOccurs="0" name="Header" nillable="true" type="q3:Header" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/com.cbi.chakavak.chequeSchema" minOccurs="0" name="Request" nillable="true" type="q4:Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChequeRequest" nillable="true" type="tns:ChequeRequest" />
</xs:schema>