Service References/ChakavakServiceWS/ChakavakService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultObj" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Type" type="tns:ResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:simpleType name="ResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Success" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultType" nillable="true" type="tns:ResultType" />
</xs:schema>